<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx = "http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-lazy-init="true">

	<context:annotation-config />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	 
	<mvc:resources location="/resources/" mapping="/resources/**" cache-period="5000" />

	<context:component-scan base-package="com.comdomino.dao" />
	<context:component-scan base-package="com.comdomino.controller" />


	<!-- Data Source -->
	<bean id="springDataSource" name="springDataSource" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="false">
		<property name="jndiName">
			<value>java:comp/env/jdbc/datasouce</value> 
		</property>
	</bean>
	
	
	 <bean id="transactionManager" name="transactionManager"   
         class="org.springframework.jdbc.datasource.DataSourceTransactionManager" lazy-init="false">
         <property name="dataSource" ref="springDataSource"/>
     </bean>  
      
    
        
    
    
    
   
     <!-- Declarar controllers aqui  
   
     <bean id="pessoaController" name="pessoaController"
       class="com.comdomino.controller.PessoaController">
     		<constructor-arg value="com.comdomino.model.Pessoa"/>
     </bean>

  	<bean id="tipoPessoaController" name="tipoPessoaController"
       class="com.comdomino.controller.TipoPessoaController">
     		<constructor-arg value="com.comdomino.model.TipoPessoa"/>
     </bean>


	<bean id="agendamentoLazerController" name="agendamentoLazerController"
        class="com.comdomino.controller.AgendamentoLazerController">
      		<constructor-arg value="com.comdomino.model.AgendamentoLazer"/>
     </bean-->


<!-- Declarar controllers aqui  -->
   
	<bean id="agendamentoLazerController" name="agendamentoLazerController"
		class="com.comdomino.controller.AgendamentoLazerController">
			<constructor-arg value="com.comdomino.model.AgendamentoLazer"/>
	</bean>
	
	
    <bean id="areaLazerController" name="areaLazerController"
		class="com.comdomino.controller.AreaLazerController">
			<constructor-arg value="com.comdomino.model.AreaLazer"/>
    </bean>
    
    <bean id="condominioController" name="condominioController"
		class="com.comdomino.controller.CondominioController">
			<constructor-arg value="com.comdomino.model.Condominio"/>
    </bean>
    
    <bean id="financeiroController" name="financeiroController"
		class="com.comdomino.controller.FinanceiroController">
			<constructor-arg value="com.comdomino.model.Financeiro"/>
    </bean>
    
    <bean id="grupoController" name="grupoController"
		class="com.comdomino.controller.GrupoController">
			<constructor-arg value="com.comdomino.model.Grupo"/>
    </bean>
    
    <bean id="itemLancamentoController" name="itemLancamentoController"
		class="com.comdomino.controller.ItemLancamentoController">
			<constructor-arg value="com.comdomino.model.ItemLancamento"/>
    </bean>
    
    <bean id="lancamentoController" name="lancamentoController"
		class="com.comdomino.controller.LancamentoController">
			<constructor-arg value="com.comdomino.model.Lancamento"/>
    </bean>
    
    <bean id="lancamentoFinanceiroController" name="lancamentoFinanceiroController"
		class="com.comdomino.controller.LancamentoFinanceiroController">
			<constructor-arg value="com.comdomino.model.LancamentoFinanceiro"/>
    </bean>
    
    <bean id="mensagemController" name="mensagemController"
		class="com.comdomino.controller.MensagemController">
			<constructor-arg value="com.comdomino.model.Mensagem"/>
    </bean>
    
    <bean id="notificacaoController" name="notificacaoController"
		class="com.comdomino.controller.NotificacaoController">
			<constructor-arg value="com.comdomino.model.Notificacao"/>
    </bean>
    
    <bean id="pessoaCondominioController" name="pessoaCondominioController"
		class="com.comdomino.controller.PessoaCondominioController">
			<constructor-arg value="com.comdomino.model.PessoaCondominio"/>
    </bean>
    
    <bean id="pessoaController" name="pessoaController"
		class="com.comdomino.controller.PessoaController">
			<constructor-arg value="com.comdomino.model.Pessoa"/>
    </bean>
    
    <bean id="servicoController" name="servicoController"
		class="com.comdomino.controller.ServicoController">
			<constructor-arg value="com.comdomino.model.Servico"/>
    </bean>
    
    <bean id="terceiroController" name="terceiroController"
		class="com.comdomino.controller.TerceiroController">
			<constructor-arg value="com.comdomino.model.Terceiro"/>
    </bean>
    
    
    <bean id="tipoAreaLazerController" name="tipoAreaLazerController"
		class="com.comdomino.controller.TipoAreaLazerController">
			<constructor-arg value="com.comdomino.model.TipoAreaLazer"/>
    </bean>
    
    <bean id="tipoLancamentoController" name="tipoLancamentoController"
		class="com.comdomino.controller.TipoLancamentoController">
			<constructor-arg value="com.comdomino.model.TipoLancamento"/>
    </bean>
    

	<bean id="tipoPessoaController" name="tipoPessoaController"
		class="com.comdomino.controller.TipoPessoaController">
			<constructor-arg value="com.comdomino.model.TipoPessoa"/>
    </bean>

	<bean id="tipoServicoController" name="tipoServicoController"
		class="com.comdomino.controller.TipoServicoController">
			<constructor-arg value="com.comdomino.model.TipoServico"/>
    </bean>
    
    <bean id="tipoUnidadeController" name="tipoUnidadeController"
		class="com.comdomino.controller.TipoUnidadeController">
			<constructor-arg value="com.comdomino.model.TipoUnidade"/>
    </bean>
    
    <bean id="unidadeController" name="unidadeController"
		class="com.comdomino.controller.UnidadeController">
			<constructor-arg value="com.comdomino.model.Unidade"/>
    </bean>
    
    <bean id="vagasdisponivelController" name="vagasdisponivelController"
		class="com.comdomino.controller.VagasdisponivelController">
			<constructor-arg value="com.comdomino.model.Vagasdisponivel"/>
    </bean>
	
	



	<!-- Declarar controllers aqui  -->

      
</beans>

