<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="sessionFactory">
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/datasouce</property>
		<property name="hibernate.default_schema">public</property>
		<property name="hibernate.current_session_context_class">thread</property> <!-- Contexto de sessão a ser usado -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property> <!-- Delegada as transações (JDBC) a bases de dados (Padrão) -->
		<property name="hibernate.jdbc.factory_class">org.hibernate.jdbc.NonBatchingBatcherFactory</property><!-- Selecione um org.hibernate.jdbc.Batcher personalizado -->
		<property name="hibernate.jdbc.batch_size">100</property> <!-- Lote de SQL -->
		<property name="hibernate.cache.use_second_level_cache">true</property> <!-- Cache -->
		<property name="hibernate.transaction.auto_close_session">true</property> <!-- Fecha sessão automaticamente -->
		<property name="hibernate.hbm2ddl.auto">update</property> 
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">false</property> <!-- Estatisticas de processos SQL -->
		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.connection.autocommit">false</property>  <!-- Commit Automatico -->
		<property name="hibernate.connection.pool_size">50</property> <!-- Poll de conexão -->


	   
		<mapping class="com.comdomino.model.AgendamentoLazer" />
		<mapping class="com.comdomino.model.AreaLazer" />
		<mapping class="com.comdomino.model.Condominio" />
		<mapping class="com.comdomino.model.Financeiro" />
		<mapping class="com.comdomino.model.Grupo" />
		<mapping class="com.comdomino.model.ItemLancamento" />
		<mapping class="com.comdomino.model.Lancamento" />
		<mapping class="com.comdomino.model.LancamentoFinanceiro" />
		<mapping class="com.comdomino.model.Mensagem" />
		<mapping class="com.comdomino.model.Notificacao" />
		<mapping class="com.comdomino.model.Pessoa" />
		<mapping class="com.comdomino.model.PessoaCondominio" />
		<mapping class="com.comdomino.model.Servico" />
		<mapping class="com.comdomino.model.Terceiro" />
		<mapping class="com.comdomino.model.TipoAreaLazer" />
		<mapping class="com.comdomino.model.TipoLancamento" />
		<mapping class="com.comdomino.model.TipoPessoa" />
		<mapping class="com.comdomino.model.TipoServico" />
		<mapping class="com.comdomino.model.TipoUnidade" />
		<mapping class="com.comdomino.model.Unidade" />
		<mapping class="com.comdomino.model.Vagasdisponivel" />
		
		
		
		
		
	</session-factory>
</hibernate-configuration>
